<div class="slider" *ngIf="slides ">
    <ng-container *ngFor="let movie of slides; let movieIndex = index">
    <div class="slide"  *ngIf="movieIndex === slideIndex" @slideFade>
        <div class="slide-bg">
            <img [src]="baseUrl + movie.backdrop_path" alt="sliderImage">
            <div class="gradient-overlay"></div>
        </div>
        <div class="slide-panel">
            <h2 class="title">{{movie.original_title}}</h2>
            <div class="meta mb-">
                <div class="rating mb-1">
                    <i class="bi bi-star-fill"></i>
                    <span>{{movie.vote_average}}</span>
                    <span>/10</span>
                </div>
                <div class="votes mb-1">
                    <i class="bi bi-hand-thumbs-up-fill"></i>
                    <span>{{movie.vote_count}}</span>
                </div>
                <div class="release-date">
                    <i class="bi bi-calendar"></i>
                    {{movie.release_date | date : 'MMMM YYYY'}}
                </div>
            </div>
            <div class="description">
                {{movie.overview}}
            </div>
        </div>
    </div>
    </ng-container> 
</div>


