/* You can add global styles to this file, and also import other style files */
@import 'bootstrap-icons/font/bootstrap-icons.css'; 

a {
    color: white;
    text-decoration: none;
}
body {
    background-color: #212529;
    font-weight: 500;
    color: white;
    padding: 5px;
    
}